fixtures/wpt
fixtures/tools
fixtures/v8-coverage
fixtures/test-runner/*
!fixtures/test-runner/index.js
!fixtures/test-runner/tagged.js
fixtures/source-map
fixtures/snapshot
fixtures/repl*
.tmp.*
**/fails.txt
!fixtures/test-runner/default-behavior
!fixtures/test-runner/default-behavior/**
!fixtures/test-runner/todo-suite-failing-hook.mjs
!fixtures/test-runner/mock-timers-with-timeout.js
!fixtures/test-runner/root-duration.mjs
!fixtures/test-runner/coverage
fixtures/test-runner/coverage/*
!fixtures/test-runner/coverage/stdin.test.js
!fixtures/test-runner/no-isolation
!fixtures/test-runner/no-isolation/**
!fixtures/test-runner/test-id-fixture.js
