:root {
  --timestamp: "0";
  --interval: "8";
  --progress-bar: 11.83299999999997%;
  --spinner-1-muted: rgb(142, 6, 182);
  --spinner-1-primary: rgb(177, 8, 227);
  --spinner-2-muted: rgb(110, 148, 190);
  --spinner-2-primary: rgb(138, 185, 238);
  --spinner-3-muted: rgb(75, 45, 64);
  --spinner-3-primary: rgb(94, 56, 80);
  --spinner-4-muted: rgb(155, 129, 108);
  --spinner-4-primary: rgb(194, 161, 135);
  --spinner-rotate: 213deg;
}
