# Ignore everything
*

# Allow source files
!/src
!/packages/bun-usockets
!/packages/bun-uws
!/packages/bun-error
!/completions

# Exclude source files
/src/bun.js/WebKit

# Allow build files
!/scripts
!/CMakeLists.txt
!/Makefile
!/build.zig
!/package.json
!/bun.lockb
!LATEST
