# [submodule "src/deps/zig-clap"]
# 	path = src/deps/zig-clap
# 	url = https://github.com/Hejsil/zig-clap
[submodule "src/deps/picohttpparser"]
	path = src/deps/picohttpparser
	url = https://github.com/h2o/picohttpparser/
[submodule "src/javascript/jsc/WebKit"]
	path = src/javascript/jsc/WebKit
	url = git@github.com:/Jarred-Sumner/WebKit
[submodule "src/deps/mimalloc"]
	path = src/deps/mimalloc
	url = https://github.com/microsoft/mimalloc
