# [submodule "src/deps/zig-clap"]
# 	path = src/deps/zig-clap
# 	url = https://github.com/Hejsil/zig-clap
[submodule "src/deps/picohttpparser"]
	path = src/deps/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
	ignore = dirty
[submodule "src/javascript/jsc/WebKit"]
	path = src/javascript/jsc/WebKit
	url = https://github.com/Jarred-Sumner/WebKit.git
	ignore = dirty
[submodule "src/deps/mimalloc"]
	path = src/deps/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	ignore = dirty
[submodule "src/deps/zlib"]
	path = src/deps/zlib
	url = https://github.com/cloudflare/zlib.git
	ignore = dirty
[submodule "src/deps/libarchive"]
	path = src/deps/libarchive
	url = https://github.com/libarchive/libarchive.git
	ignore = dirty
[submodule "src/deps/s2n-tls"]
	path = src/deps/s2n-tls
	url = https://github.com/Jarred-Sumner/s2n-tls
	ignore = dirty
