src/bun.js/WebKit
vendor
test/snapshots
test/js/deno
test/node.js
src/react-refresh.js
*.min.js
test/snippets
test/js/node/test
bun.lock
# formatting adds many levels of indent, doubling the file size
src/bake/incremental_visualizer.html