html {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  background-color: black;

  color: rgb(0, 255, 0);
  font-family: "Courier";
}

body {
  margin: 48px auto;
  text-align: center;
}

.Line {
  font-size: 0.5rem;
  font-family: monospace;
}

.Table {
  display: grid;
  width: fit-content;
}

.Row,
.Header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: right;

  column-gap: 2rem;
}

.Heading {
  text-align: right;
}

.Header {
  border-bottom: 1px solid rgb(0, 255, 0);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.Heading:nth-of-type(2) {
  text-align: left;
}
