@import url("./test-import.css");

* {
  box-sizing: border-box;

  background-image: url("./me@2x.jpeg");
}

:root {
  --heading-font: "Space Mono", system-ui;
  --body-font: "IBM Plex Sans", system-ui;

  --color-brand: #02ff00;
  --color-brand-muted: rgb(2, 150, 0);

  --padding-horizontal: 90px;

  --page-background: black;
  --page-background-alpha: rgba(0, 0, 0, 0.8);

  --result__background-color: black;
  --result__primary-color: var(--color-brand);
  --result__foreground-color: white;
  --result__muted-color: rgb(165, 165, 165);

  --card-width: 352px;

  --page-width: 1152px;

  --snippets_container-background-unfocused: #171717;
  --snippets_container-background-focused: #0017e9;
  --snippets_container-background: var(
    --snippets_container-background-unfocused
  );
  --snippets_container-muted-color: rgb(153, 153, 153);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--page-background);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-variant-ligatures: no-common-ligatures;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: normal;
}

.NavigationContainer {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
}

.NavigationLink,
.NavigationLink:visited {
  font-weight: 500;
  font-family: var(--heading-font);
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.SnippetList {
  scroll-margin-top: 200px;
}

.SnippetList,
.NewBenchmarkPageContent {
  display: grid;
  grid-row-gap: 16px;
}

.NewBenchmarkPageContent {
  margin-top: 24px;
  margin-bottom: 42px;
}

.NavigationLink:hover {
  border-bottom-color: var(--color-brand);
}

.NavigationLink--inactive {
  color: rgb(165, 165, 165);
}

.NavigationLink--active {
  color: var(--color-brand);
}

.NavigationLink--inactive:hover {
  cursor: pointer;
  color: var(--color-brand);
}

.LandingHeader-Container {
  padding: 0 var(--padding-horizontal);
  backdrop-filter: blur(5px);
  background-color: var(--page-background-alpha);
  position: sticky;
  top: 0;
  z-index: 999;
  padding-bottom: 1.2em;
  mask-image: linear-gradient(to bottom, black 85%, transparent);
}

.LandingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px var(--padding-horizontal);
}

.HeroContainer {
  padding: 34px var(--padding-horizontal);
  width: 100%;
  display: flex;
}

.Gallery,
.HeroContainer,
.LandingHeader {
  max-width: var(--page-width);
  margin: 0 auto;
}

.GalleryList {
  padding: 34px var(--padding-horizontal);
}

.GalleryList {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, var(--card-width));
}

.HeroContainer {
  align-items: center;
}

.Hero {
  flex: 1;
}

.Description {
  margin-bottom: 24px;
}

.Tagline,
.Hero-demo {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.Hero-demo {
  margin-left: 48px;
}

.Tagline {
  font-size: 2.2rem;
}

.RunTestButtonContainer {
  position: sticky;
}

.LinkButton {
  color: black;
  background: none;
  outline: none;
  background-color: var(--color-brand);
  font-weight: bold;
  font-family: var(--heading-font);
  font-size: 1.2rem;
  padding: 10px 17px;
  text-transform: uppercase;
  width: min-content;
  text-decoration: none;

  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: transform 0.1s linear;
}

.LinkButton:hover {
  transform: scale(1.03, 1.03);
}

.LinkButton-arrow {
  animation: arrow-move-animation 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.1s;
  transform: translateX(0px) scale(1, 1);
  animation-play-state: paused;
}

.LinkButton:hover .LinkButton-arrow {
  animation-play-state: running;
}

@keyframes arrow-move-animation {
  0% {
    transform: translateX(0px) scale(1, 1);
  }
  100% {
    transform: translateX(4px) scale(1.1, 1.1);
  }
}

.LinkButton-arrow {
  margin-left: 12px;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.ResultCard--blue,
.ResultCard--blue * {
  --result__background-color: #0017e9;
  --result__primary-color: var(--color-brand);
  --result__foreground-color: white;
  --result__muted-color: rgb(165, 165, 165);
}

.ResultCard {
  padding: 16px;
  max-width: var(--card-width);

  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: auto;
  grid-row-gap: 16px;

  background-color: var(--result__background-color);
  color: var(--result__foreground-color);
}

.ResultCard-title {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--body-font);
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ResultList {
  display: grid;
  grid-row-gap: 8px;
}

.ResultListItem-name {
  font-weight: bold;
  white-space: nowrap;
}

.ResultListItem-progressContainer {
  display: block;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 2px;
  content: "";
}

.ResultListItem-progressValue {
  background-color: var(--result__foreground-color);
  height: 2px;
  content: "";
  display: block;
}

.ResultListItem--fastest .ResultListItem-name {
  color: var(--result__primary-color);
}

.ResultListItem--fastest .ResultListItem-progressValue {
  background-color: var(--result__primary-color);
}

.ResultListItem--slowest .ResultListItem-progressValue {
  background-color: var(--result__muted-color);
}

.ResultListItem--slowest .ResultListItem-name {
  color: var(--result__muted-color);
}

.ResultListItem {
  grid-template-columns: 100px 100px;
  display: grid;
  grid-column-gap: 6px;
}

.ListContainer {
  display: flex;
}

.ScoreContainer {
  margin-right: 26px;
}

.Score {
  color: var(--result__primary-color);
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--heading-font);
}

.Operations {
  color: var(--result__muted-color);
  font-size: 1rem;
}

.ResultCard-link {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}
.ResultCard-linkArrow {
  margin-left: 6px;
}

.Confetti {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(25vh, 10vw);
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  webkit-user-select: none;
}

.ShareSheet,
.ResultListSection,
.BenchmarkHeader,
.SnippetList,
.CodeEditor {
  width: var(--page-width);
  padding: 0px var(--padding-horizontal);
  margin: 0 auto;
}

.BenchmarkHeader {
  display: flex;
  align-items: center;
}

.TitleInput-container {
  display: flex;
  flex: 1;
  width: 100%;
}

.TitleInput {
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  font-size: 2.5rem;
  box-shadow: none;
  outline: 0;

  border: 0;
  width: 100%;
  margin-right: 32px;
  font-family: var(--heading-font);
  border-bottom: 1px solid transparent;
  color: white;
  transition: all 0.2s ease;
}

.TitleInput-container--readOnly .TitleInput,
.TitleInput-container--readOnly .TitleInput:hover {
  cursor: pointer;
}
.TitleInput-container--readWrite .TitleInput:hover {
  background: rgba(255, 255, 255, 0.1);
}

.TitleInput-container--readWrite .TitleInput:focus {
  background: rgba(255, 255, 255, 0.1);
}

.TitleInput,
.SnippetTitle {
  text-transform: none;
}

.SnippetTitle[disabled] {
  background-color: transparent;
}

.SnippetTitle,
.NewSnippetContainer-label {
  background: transparent;
  display: block;
  flex: 1;
  appearance: none;
  -webkit-appearance: none;

  color: white;
  font-family: var(--heading-font);
  font-weight: 400;
  height: 100%;
  padding: 16px 12px;
  margin: 0;
  border: 0;
  box-shadow: none;
}

.NewSnippetContainer,
.SnippetContainer *,
.SnippetContainer {
  --snippets_container-background: var(
    --snippets_container-background-unfocused
  );
}

.SnippetContainer--isRunning {
  overflow: hidden;
}

.SnippetContainer {
  position: relative;
}

.SnippetContainer-ErrorTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fe0100;
  padding: 6px 14px;

  font-size: 0.8rem;
  color: #ffffff;
  font-weight: 500;
  font-family: var(--heading-font);
}

.SnippetContainer .SnippetOverlay,
.SnippetContainer .SnippetBackground {
  display: none;
}

.SnippetBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  mix-blend-mode: difference;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  height: 100%;
  transform-origin: left;
  transform: scaleX(0);
  content: "";
  background-color: var(--color-brand);
  transition: transform 0.12s linear;
  transition-property: opacity, transform;
}

.SnippetOverlay {
  position: absolute;

  left: 24px;
  top: 50%;
  transform: translateY(-50%);

  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  flex-direction: column;
  justify-content: flex-start;
  font-family: var(--heading-font);

  pointer-events: none;
  color: white;
}

/* .SnippetContainer--isRunning .SnippetOverlay {
  transform: translateX(16px) translateY(100%) translateY(-2rem)
    translateY(-32px);
} */

.SnippetOverlayLabel {
  font-size: 2rem;

  transition: filter 0.12s linear;
  transition-property: filter, color;
}

.CodeContainer {
  filter: blur(0px);
  transition: filter 0.12s linear;
}

.SnippetContainer--ran .CodeContainer {
  filter: none;
}

.SnippetContainer--ran .SnippetOverlayLabel {
  filter: none;
  color: var(--color-brand);
}

.SnippetOverlayLabel-ops {
}

.SnippetContainer--ran .SnippetOverlay,
.SnippetContainer--isRunning .SnippetOverlay {
  display: flex;
}

.SnippetContainer--ran .SnippetBackground {
  opacity: 0;
}

.SnippetContainer--ran .SnippetBackground,
.SnippetContainer--isRunning .SnippetBackground {
  display: block;
}

.NewSnippetContainer,
.SnippetContainer {
  transition: background-color 0.1s linear;
}

.SnippetIcon {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 6px;
  margin-left: auto;
}

.SnippetIndexIcon,
.SnippetRank {
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-size: 1.1rem;
  text-align: left;
  margin-left: 21px;
  margin-right: 1ch;
  opacity: 0.5;
}

.SnippetRank--first {
  color: var(--color-brand);
}

.NewSnippetContainer:hover,
.SnippetContainer:hover *,
.SnippetContainer:hover {
  --snippets_container-background: var(--snippets_container-background-focused);
}

.NewSnippetContainer,
.SnippetTitleContainer {
  display: grid;
  flex: 1;
  grid-template-columns: 42px auto;

  align-items: center;
  grid-column-gap: 0;
  position: relative;
}

.SnippetContainer-ErrorClose,
.SnippetTitle-deleteButton {
  --color: rgb(153, 153, 153);
  --active-color: rgb(189, 58, 58);
}

.SnippetTitle-deleteButton {
  position: absolute;
  right: 0;
}

.SnippetTitle-importButtonContainer {
  position: absolute;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 16px;
  align-items: center;
  z-index: 10;
}

.SnippetTitle-transformField {
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: transform 0.1s linear;
}

.SnippetTitle-transformField:hover {
  transform: scale(1.05, 1.05);
}

.SnippetTitle-transformField:active {
  transform: scale(1.2, 1.2);
}

.Toggler {
  width: 16px;
  height: 16px;
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 6px;
}

.SnippetTitle-transformField--checked .Toggler {
  background-color: var(--color-brand);
  border-color: rgb(50, 50, 50);
}
.SnippetTitle-transformField-label {
  text-transform: uppercase;
  margin-left: 4px;
  user-select: none;
  -webkit-user-select: none;
  color: white;
  font-family: var(--heading-font);
}

.SnippetTitle-transformField--checked .SnippetTitle-transformField-label {
  color: var(--color-brand);
}

.SnippetContainer-ErrorClose,
.SnippetTitle-transformField,
.SnippetTitle-deleteButton,
.SnippetTitle-importButton {
  font-weight: 500;
  font-size: 0.8rem;
  font-family: var(--heading-font);

  color: var(--color);
  padding-right: 16px;
  cursor: pointer;
  pointer-events: all;
  transition: transform 0.1s linear;
  transition-property: transform, color;
}

.SnippetContainer-ErrorClose {
  --translate-offset: -50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(var(--translate-offset));
  right: 0;
}

.SnippetTitle-importButton {
  --color: white;
  --active-color: var(--color-brand);
}

.SnippetContainer-ErrorClose:hover,
.SnippetTitle-importButton:hover,
.SnippetTitle-deleteButton:hover {
  transform: translateY(var(--translate-offset, 0%)) scale(1.1, 1.1);
  color: var(--active-color);
}

.SnippetContainer-ErrorClose:active,
.SnippetTitle-importButton:active,
.SnippetTitle-deleteButton:active {
  transform: translateY(var(--translate-offset, 0%)) scale(1.2, 1.2);
  color: var(--active-color);
}

.SnippetContainer-ErrorClose:hover,
.SnippetContainer-ErrorClose:active {
  color: white;
}
.SnippetTitleContainer {
  position: relative;
  z-index: 10;
}

.ShareHeader {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.ShareSheet {
  display: grid;

  grid-template-columns: max-content;
  margin-bottom: 24px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.ShareHeader-copyButton {
  margin-top: auto;
  margin-bottom: auto;

  font-family: var(--heading-font);
  color: white;
  transform: scale(1, 1);
  transition: transform 0.1s linear;
  transition-property: color, transform;

  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 0 16px;
  display: block;
}

.ShareHeader-copyButton:hover {
  transform: scale(1.2, 1.2);
  color: var(--color-brand);
}

.ShareHeader-copyButton:active {
  transform: scale(1.5, 1.5);
  color: var(--color-brand);
}

.ShareHeader-urlBox {
  padding: 16px 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}
.ShareHeader-url {
  font-size: 1rem;
  user-select: auto;
  --webkit-user-select: auto;
  margin: 0;
  min-width: 480px;
  max-width: var(--page-width);
  border-radius: 0;
  border: 1px solid rgb(32, 32, 32);
  flex: 1;
  color: rgb(220, 220, 220);
  appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  font-family: var(--heading-font);
  font-variant-ligatures: none;
  padding: 8px 16px;
  width: 100%;
  outline: 0;
  transition: all 0.2s ease;
}

.ShareHeader-urlBox {
  display: flex;
}

.ShareHeader-url:hover {
  background: rgba(255, 255, 255, 0.15);
}

@media (max-width: 1152px) {
  :root {
    --page-width: 800px;
    --padding-horizontal: 24px;
  }
}

@media (max-width: 800px) {
  :root {
    --page-width: 100%;
    --padding-horizontal: 24px;
  }

  .Hero-demo {
    display: none;
  }
}

@media (max-width: 600px) {
  :root {
    --card-width: 100%;
  }
}

.NewSnippetContainer,
.SnippetContainer {
  background-color: var(--snippets_container-background);
}

.SnippetContainer--isRunning {
  background-color: var(--snippets_container-background-unfocused);
}

.SnippetContainer--isRunning .CodeContainer {
  opacity: 0.5;
}

.NewSnippetContainer {
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0.7;
}

.NewSnippetContainer:hover {
  opacity: 1;
}

.SnippetHeading-subheader {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 6px;
  text-transform: uppercase;
  letter-spacing: 1.35px;
  padding-left: 54px;
  margin-top: -12px;
  color: inherit;
  padding-bottom: 16px;
}

.SnipptHeading-Dot {
}

.xIcon {
  text-transform: lowercase;
}

.SnippetHeading--first {
  color: var(--color-brand);
}

.SnippetHeading--notFirst {
  color: rgb(153, 153, 153);
}

.ResultListSection {
}

.ResultListSection {
  margin-bottom: 1rem;
}
.ResultListSection--heading {
  font-size: 1.5rem;
  color: white;
  font-family: var(--heading-font);
}

a.ResultListSection--subHeading-section {
  cursor: pointer;
}

a.ResultListSection--subHeading-section:hover {
  text-decoration: underline;
}

.ResultListSection--disabled {
  opacity: 0.5;
}
.ResultListSection--subHeading {
  color: rgb(153, 153, 153);
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  white-space: nowrap;

  grid-column-gap: 8px;
  margin-bottom: 16px;
}
.ResultListSection--subHeading--section {
  white-space: nowrap;
  display: block;
}
.ResultListSection--subHeading--separator {
}
.ResultListSection--results {
  display: grid;
  grid-row-gap: 20px;
}

.ResultLongListItem--notFirst {
  color: white;
}

.ResultLongListItem--first {
  color: var(--color-brand);
}

.ResultLongListItem--first {
}
.ResultLongListItem--notFirst {
}
.ResultLongListItem-line {
  display: flex;
}

.ResultLongListItem {
  margin-bottom: 24px;
}
.ResultLongListItem-name {
  color: rgb(153, 153, 153);
}

.ResultLongListItem--first .ResultLongListItem-name,
.ResultLongListItem--first .ResultLongListItem-progressBar {
  color: var(--color-brand);
}

.ResultLongListItem-multiplier {
}
.ResultLongListItem-progressBarContainer {
  margin-top: auto;
  margin-bottom: auto;
}
.ResultLongListItem-progressBar {
}
.ResultLongListItem-statGroup {
  display: grid;
  width: 400px;
  max-width: var(--page-width);
  grid-template-columns: 300px 100px;
  grid-column-gap: 0;
  align-items: center;

  font-size: 2rem;
  white-space: nowrap;
  padding-right: 28px;
}

.ResultLongListItem-progressBar,
.ResultLongListItem-progressBarContainer {
  height: 3px;
  content: "";
}

.ResultLongListItem-progressBar {
  background-color: currentColor;
}

.ResultLongListItem-progressBarContainer {
  width: 100%;
}

@media (max-width: 600px) {
  .ResultLongListItem-statGroup {
    grid-template-columns: 200px 100px;
  }

  .ResultLonglistItem {
    margin-top: 12px;
  }

  .ResultLongListItem-line {
    flex-direction: column;
  }

  .ResultLongListItem-statGroup {
    margin-bottom: 12px;
  }

  .ShareHeader-urlBox {
    display: none;
  }
}

.GithubLink {
  font-size: 0.8rem;
  padding: 4px;
  display: block;
  color: rgb(153, 153, 153);
}

.ModuleListContainer {
  max-height: 400px;
  overflow-y: scroll;
  max-height: 400px;
  min-height: 200px;
}

.ModulePickerModal {
  position: absolute;

  background: linear-gradient(
    136.61deg,
    rgb(39, 40, 43) 13.72%,
    rgb(45, 46, 49) 74.3%
  );
  backdrop-filter: blur(12px);
  color: white;
  z-index: 9999999;
  max-height: 400px;
  min-height: 200px;
  overflow: hidden;
  pointer-events: all;

  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 24px;
}

.SnippetContainer--unposition .SnippetTitle-deleteButton {
  display: none;
}
.SnippetContainer--unposition .SnippetTitleContainer {
  position: static;
}

.ModuleListContainer-empty {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: 100%;
  flex: 1;
  padding-left: 12px;
  margin-top: 12px;
}

.ModuleListContainer-emptyText {
}

.ModuleListContainer-emptyText-muted {
  color: var(--result__muted-color);
  opacity: 0.5;
  margin-top: 4px;
}

.ModulePicker-search {
  width: 100%;
  display: flex;
  flex: 0 0 48px;
  background-color: rgb(32, 32, 32);
  color: white;
  font-family: var(--heading-font);
  font-size: 1rem;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.ModulePicker {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.ModuleListItem {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  cursor: pointer;
  background-color: transparent;
  transform: background-color 0.2s ease;
}

.ModuleListItem:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.ModuleListItem-info {
  display: grid;
  grid-template-rows: min-content min-content;
  font-variant-ligatures: none;
  grid-row-gap: 2px;
}

.ModuleListItem-name {
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--heading-font);
  font-size: 0.9rem;
}

.ModuleListItem-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

.ModuleListItem-description,
.ModuleListItem-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 280px;
}

.ModuleListItem:hover .ModuleListItem-importButton {
  opacity: 1;
}
.ModuleListItem-importButton {
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--color-brand);
  padding: 4px 6px;
  margin-left: 8px;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  opacity: 0;
}

.BenchmarkHeader--mobile {
  display: none;
}
@media (max-width: 600px) {
  :root {
    --padding-horizontal: 16px;
  }

  .BenchmarkHeader--mobile {
    display: flex;
  }
  .BenchmarkHeader--desktop {
    display: none;
  }

  .ResultListSection--subHeading-separator {
    display: none;
  }

  .ResultListSection--subHeading {
    grid-auto-flow: row;
    white-space: normal;
    grid-auto-columns: auto;
    --page-width: auto;
  }

  .ResultLongListItem-statGroup {
    display: flex;
    max-width: 100%;
    width: auto;
    justify-content: space-between;
    padding-right: var(--padding-horizontal);
  }

  .CodeContainer {
    zoom: 0.8;
  }

  .BenchmarkHeader {
    flex-direction: column;
  }
}

.ShareSheet-image-loading {
  animation: fade-in-out 1.5s ease;
  transform: scale(2);
  transform-origin: center center;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.66;
  }
  100% {
    opacity: 1;
  }
}
