a {
    @mixin $(theme)-colors;
}

@define-mixin icon $network, $color: blue {
    .icon.is-$(network) {
        color: $color;
        @mixin-content;
    }
    .icon.is-$(network):hover {
       color: white;
       background: $color;
   }
}

@mixin icon twitter {
    background: url(twt.png);
}
@mixin icon youtube, red {
    background: url(youtube.png);
}

.search {
    @mixin icon search;
}

a {
    color: black;
    @mixin parent {
        @mixin child;
    }
}
