div {
  border-radius: attr(br type(<length>+));
}

div {
  background: attr(bg type(<color>+));
}

div {
  background: attr(bg type(<color>#));
}

div {
  margin: attr(data-margin type(<percentage> | <number> | auto));
}

div {
  margin: attr(data-margin type(<percentage>+ | <number>+ | auto));
}

div {
  aspect-ratio: attr(data-ar type(*));
}
