# clang configuration file for the portable ABI sysroot (x86_64, musl, libc++, emulated TLS, no red zone).
# Use:  clang   --config=/tmp/portable/sysroot/portable.cfg  file.c
#       clang++ --config=/tmp/portable/sysroot/portable.cfg  file.cpp
# Link: add -static-pie
--target=x86_64-linux-musl
--sysroot=<CFGDIR>
-resource-dir=<CFGDIR>/clang-resource-dir
-stdlib++-isystem <CFGDIR>/usr/include/c++/v1
-femulated-tls
-mno-red-zone
-fPIE
-stdlib=libc++
-rtlib=compiler-rt
-unwindlib=libunwind
-fuse-ld=lld
