.y-photo-grid{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    &__row, &__item, &__link, &__image{
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}
