@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 90%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 63.9%;
    --muted-foreground-light: 0 0% 85%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 30.6%;
    --radius: 0.5rem;
    --shadow: 0 0 10%;
    --blur: 8px;

    font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-search-cancel-button {
  display: none;
}

main {
  @apply p-2 duration-150 lg:p-3;
}

.toast div[data-content] {
  width: 100%;
}

.stroke {
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.scroller {
  --scrollbar-color-track: #0000ff;
  --scrollbar-color-thumb: #ff69b4;
}

@supports (scrollbar-width: auto) {
  .scroller {
    scrollbar-color: hsl(var(--muted-foreground)) hsl(var(--secondary));
  }

  .warning {
    display: none;
  }
}

.scroller {
  border: 1px solid #000;
  width: 100%;
  height: 50vh;

  position: relative;
  container-type: inline-size;

  &:has(.content) {
    background: white;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  .content {
    min-height: 75vh;
    padding: 1rem 1rem;

    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
}

.toaster.group:where([data-sonner-toaster]) {
  z-index: 100;
}
