$a: if(sass($x): 1; else: white);
$a: if(sass($x): 1   ; else: white);
$b: if(sass($x): map.get($view, background); else: white);
$c: if(sass($x): map.get($view, background)   ; else: white);

@debug if(sass(true): 10px; else: 15px);
@debug if(sass(true): 10px   ; else: 15px);
@debug if(sass(meta.variable-defined($var)): $var);

@mixin foo($isDark, $view) {
  .bar {
    background-color: if(sass($isDark): map.get($view, background) ; else: white);
  }
}
