@font-feature-values Font One {
    @styleset {
        nice-style: 12;
    }
}
@font-feature-values Font One {
@styleset {
nice-style: 12;
}
}
@font-feature-values Font One{
    @styleset{
        nice-style: 12;
    }
}
@font-feature-values  Font One  {
    @styleset  {
        nice-style: 12;
    }
}
@font-feature-values
Font One
{
@styleset
{
nice-style
:
12
;
}
}

@font-feature-values

Font One

{

@styleset
{

nice-style

:

12

;

}

}
