@page {
    margin: 1cm;
}
@page {
margin: 1cm;
}
@page{
margin: 1cm;
}
@page  {
    margin: 1cm;
}
@page
{
margin
:
1cm
;
}
@page

{

margin
:

1cm

;

}
@page :first {
    margin: 2cm;
}
@page :first {
margin: 2cm;
}
@page :first{
    margin: 2cm;
}
@page  :first  {
    margin: 2cm;
}
@page
:first
{
margin
:
2cm
;
}
@page

:first

{

margin

:

2cm

;

}
@page vertical {
    size: A4 portrait;
}

@page:first
{
  counter-reset: page 1;
}
