@viewport {
  min-width: 640px;
  max-width: 800px;
}

@viewport {
min-width: 640px;
max-width: 800px;
}

@viewport{
  min-width: 640px;
  max-width: 800px;
}

@viewport  {
  min-width: 640px;
  max-width: 800px;
}

@viewport
{
min-width
:
640px
;
max-width
:
800px
;
}

@viewport

{

min-width

:

640px

;

max-width

:

800px

;

}
