a {
  background-image: url($test-path + $test-path);
  background-image: url($test-path + 'static/test.jpg');
  background-image: url('../test/' + $test-path);
  background-image: url('../test/' + 'static/test.jpg');
  background-image: url($test-path+$test-path);
}
