$map: (
    small: 767px,
    medium: 992px,
    large: 1200px,
);
$map: (
    'medium': (min-width: 800px),
    'large': (min-width: 1000px),
    'huge': (min-width: 1200px),
);
$map: ( small: 767px, medium: 992px, large: 1200px );
