.foo,
// Comment
.bar {
  // Comment
  color: red; // Comment
}

$my-list:
  'foo', // Comment
  'bar'; // Comment

$my-map: (
  'foo': 1, // Comment
  'bar': 2, // Comment
  'buz': calc(1 + 2), // Buz
  'baz': 4, // Baz
);

[href]:hover &, // Comment
[href]:focus &, // Comment
[href]:active & {
  .tooltip {
    opacity: 1;
  }
}

@import
  // Comment
  'mixins',
  'variables',
  // Comment
  'reset',
  'scaffolding',
  'type',
  // Comment
  'bar',
  'tabs';
