:root {
  --timestamp: "596";
  --interval: "64";
  --progress-bar: 33.167%;
  --spinner-1-muted: rgb(42, 74, 66);
  --spinner-1-primary: rgb(53, 93, 82);
  --spinner-2-muted: rgb(90, 51, 192);
  --spinner-2-primary: rgb(112, 64, 240);
  --spinner-3-muted: rgb(157, 140, 68);
  --spinner-3-primary: rgb(196, 175, 85);
  --spinner-4-muted: rgb(86, 152, 66);
  --spinner-4-primary: rgb(108, 190, 82);
  --spinner-rotate: 237deg;
}