$map: (key: value, other-key: other-value);
$map: (key: value, other-key: other-value) !default;
$map: (key: value, other-key: other-value)  !default;
$map: (key: value, other-key: other-value)
!default;
$map:
(key: value, other-key: other-value)
!default;
$map: ( key : value , other-key : other-value);
$map: (  key  :  value  ,  other-key  :  other-value  );
$map: (
  key: value,
  other-key: other-value
);
$map: (
key: value,
other-key: other-value
);
$map: (
key
:
value,
other-key
:
other-value
);
$map: (
key
:
value
,
other-key
:
other-value
);
$map: (very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-key: very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-value, very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-key: very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-value);
$map: ( very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-key : very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-value , very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-key : very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-value );
$map: (  very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-key  :  very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-value  ,  very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-key: very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-value  );
$map: (
  very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-key: very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-value,
  very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-key: very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-value
);
$map: (
very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-key: very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-value,
very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-key: very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-value
);
$map:
(
very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-key
:
very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-value
,
very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-key
:
very-very-very-very-very-very-very-very-very-very-very-very-very-very-very-verylong-other-value
);
$map: (
  key: (#d82d2d, #666),
  other-key: (#52bf4a, #fff),
  other-other-key: (#c23435, #fff)
);
$map: (
key: (#d82d2d, #666),
other-key: (#52bf4a, #fff),
other-other-key: (#c23435, #fff)
);
$map: (
  key : ( #d82d2d , #666 ),
  other-key : ( #52bf4a , #fff ),
  other-other-key : ( #c23435 , #fff )
);
$map: (
  key  : (  #d82d2d  ,  #666  )  ,
  other-key  :  (  #52bf4a  ,  #fff  ),
  other-other-key  :  (  #c23435  ,  #fff  )
);
$map: (
key
:
(
#d82d2d,
#666
)
,
other-key
:
(
#52bf4a,
#fff
)
,
other-other-key
:
(
#c23435
,
#fff
)
);
$map: map-merge($map, ($key: $value));
$map: map-merge( $map , ( $key : $value ) );
$map: map-merge(  $map  ,  (  $key  :  $value  )  );
$map: map-merge(
  $map,
  ($key:  $value)
);
$map: map-merge(
$map,
($key:  $value)
);
$map:
map-merge(
$map
,
(
$key
:
$value
)
);
