name: Typecheck tests
on:
  push:
    branches: [main]
    paths:
      - "packages/bun-types/**"
      - "test/**"

  pull_request:
    paths:
      - "packages/bun-types/**"
      - "test/**"

jobs:
  tests:
    name: Build and test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: test
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: canary
      - name: Install dependencies
        run: bun install
      - name: Generate package
        run: bun run typecheck
