name: bun-dockerhub

on:
  push:
    paths:
      - dockerhub/Dockerfile
    branches:
      - main
  pull_request:
    paths:
      - dockerhub/Dockerfile
    branches:
      - main
  release:
    types:
      - published

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  docker:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'oven-sh'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Collect metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ secrets.DOCKERHUB_USERNAME }}/bun
            ghcr.io/oven-sh/bun
          tags: |
            type=match,pattern=bun-v(\d.\d.\d),group=1
            type=match,pattern=bun-v(\d.\d),group=1
            type=match,pattern=bun-v(\d),group=1
            type=ref,event=branch
            type=ref,event=pr

      - name: Login to DockerHub
        if: github.event_name == 'release'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        if: github.event_name == 'release'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: ./dockerhub
          push: ${{ github.event_name == 'release' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        if: github.event_name == 'release'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: jarredsumner/bun
          short-description: ${{ github.event.repository.description }}
