name: clang-format

permissions:
  contents: write

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/workflows/clang-format.yml"
      - "**.clang-format"
      - "src/bun.js/bindings/.clang-format"
      - "packages/bun-uws/.clang-format"
      - "package.json"
      - "scripts/**"
      - "cmake/**"
      - "src/**/*.c"
      - "src/**/*.cpp"
      - "src/**/*.h"
      - "packages/**/*.c"
      - "packages/**/*.cpp"
      - "packages/**/*.h"

env:
  BUN_VERSION: "1.1.27"
  LLVM_VERSION: "18.1.8"
  LLVM_VERSION_MAJOR: "18"

jobs:
  clang-format:
    name: clang-format
    runs-on: ubuntu-latest
    steps:
      - run: sudo rm /usr/bin/clang-format
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
            .clang-format
            package.json
            scripts
            cmake
            src
            packages
      - name: Setup Bun
        uses: ./.github/actions/setup-bun
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Install LLVM
        run: |
          curl -fsSL https://apt.llvm.org/llvm.sh | sudo bash -s -- ${{ env.LLVM_VERSION_MAJOR }} all
      - run: ls -l /usr/lib/llvm-18/bin/
      - run: echo "/usr/lib/llvm-18/bin/" >> $GITHUB_PATH
      - name: Clang Format Version
        env:
          ENABLE_CCACHE: OFF
          LLVM_VERSION: ${{ env.LLVM_VERSION }}
        run: |
          bun run clang-format-version
      - name: Clang Format
        env:
          ENABLE_CCACHE: OFF
          LLVM_VERSION: ${{ env.LLVM_VERSION }}
        run: |
          bun run clang-format
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "`bun run clang-format`"
