name: format

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'workflow_dispatch' && inputs.run-id  || github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      run-id:
        type: string
        description: The workflow ID to download artifacts (skips the build step)
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**.{ts,js,json,md,toml,yml,yaml,tsx,jsx,zig,cjs,mjs}"

jobs:
  format:
    name: Run format
    uses: ./.github/workflows/run-format.yml
    secrets: inherit
    with:
      zig-version: 0.13.0
