name: prettier-format

permissions:
  contents: write

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  merge_group:

env:
  BUN_VERSION: "1.1.27"

jobs:
  prettier-format:
    name: prettier-format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Bun
        uses: ./.github/actions/setup-bun
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Setup Dependencies
        run: |
          bun install
      - name: Prettier Format
        run: |
          bun run prettier:diff
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "`bun run prettier:extra`"
