name: Format

permissions:
  contents: write

on:
  workflow_call:
    inputs:
      zig-version:
        type: string
        required: true

jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    if: ${{ github.ref != 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
            src
            scripts
            packages
            test
            bench
      - name: Setup Bun
        uses: ./.github/actions/setup-bun
        with:
          bun-version: "1.1.18"
      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@c7b6cdd3adba8f8b96984640ff172c37c93f73ee
        with:
          version: ${{ inputs.zig-version }}
      - name: Install Dependencies
        run: |
          bun install
      - name: Format
        run: |
          bun fmt
      - name: Format Zig
        run: |
          bun fmt:zig
      - name: Generate submodule versions
        run: |
          bash ./scripts/write-versions.sh
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply formatting changes
