name: Lint

permissions:
  contents: read
env:
  LLVM_VERSION: 16
  BUN_VERSION: "1.2.0"

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    outputs:
      text_output: ${{ steps.lint.outputs.text_output }}
      json_output: ${{ steps.lint.outputs.json_output }}
      count: ${{ steps.lint.outputs.count }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: ./.github/actions/setup-bun
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Install Dependencies
        run: |
          bun --cwd=packages/bun-internal-test install
      - name: Lint
        id: lint
        run: |
          bun packages/bun-internal-test/src/linter.ts
