name: Update zstd

on:
  schedule:
    - cron: "0 1 * * 0"
  workflow_dispatch:

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/update-cmake-dep
        with:
          repo: "facebook/zstd"
          cmake-file: "cmake/targets/CloneZstd.cmake"
          dep-name: "zstd"
          workflow-file: "update-zstd.yml"
