name: Update libdeflate

on:
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/update-cmake-dep
        with:
          repo: "ebiggers/libdeflate"
          cmake-file: "cmake/targets/BuildLibDeflate.cmake"
          dep-name: "libdeflate"
          workflow-file: "update-libdeflate.yml"
