name: Update lolhtml

on:
  schedule:
    - cron: "0 1 * * 0"
  workflow_dispatch:

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/update-cmake-dep
        with:
          repo: "cloudflare/lol-html"
          cmake-file: "cmake/targets/BuildLolHtml.cmake"
          dep-name: "lolhtml"
          workflow-file: "update-lolhtml.yml"
