name: Update highway

on:
  schedule:
    - cron: "0 4 * * 0"
  workflow_dispatch:

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/update-cmake-dep
        with:
          repo: "google/highway"
          cmake-file: "cmake/targets/BuildHighway.cmake"
          dep-name: "highway"
          workflow-file: "update-highway.yml"
