name: Update libarchive

on:
  schedule:
    - cron: "0 3 * * 0"
  workflow_dispatch:

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/update-cmake-dep
        with:
          repo: "libarchive/libarchive"
          cmake-file: "cmake/targets/BuildLibArchive.cmake"
          dep-name: "libarchive"
          workflow-file: "update-libarchive.yml"
