name: Update c-ares

on:
  schedule:
    - cron: "0 4 * * 0"
  workflow_dispatch:

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/update-cmake-dep
        with:
          repo: "c-ares/c-ares"
          cmake-file: "cmake/targets/BuildCares.cmake"
          dep-name: "c-ares"
          workflow-file: "update-cares.yml"
