name: Update hdrhistogram

on:
  schedule:
    - cron: "0 4 * * 0"
  workflow_dispatch:

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/update-cmake-dep
        with:
          repo: "HdrHistogram/HdrHistogram_c"
          cmake-file: "cmake/targets/BuildHdrHistogram.cmake"
          dep-name: "hdrhistogram"
          workflow-file: "update-hdrhistogram.yml"
