name: Update lshpack

on:
  schedule:
    - cron: "0 5 * * 0"
  workflow_dispatch:

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/update-cmake-dep
        with:
          repo: "litespeedtech/ls-hpack"
          cmake-file: "cmake/targets/BuildLshpack.cmake"
          dep-name: "lshpack"
          workflow-file: "update-lshpack.yml"
