name: zig-format

permissions:
  contents: write

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  merge_group:

env:
  BUN_VERSION: "1.1.27"

jobs:
  zig-format:
    name: zig-format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Bun
        uses: ./.github/actions/setup-bun
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Zig Format
        run: |
          bun run zig-format:diff
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "`bun run zig-format`"
