[flake8]
extend-exclude =
  ./.*,
  ./binaryen,
  ./clang,
  ./crunch,
  ./downloads,
  ./emscripten,
  ./fastcomp-clang,
  ./fastcomp,
  ./git,
  ./gnu,
  ./llvm,
  ./node,
  ./python,
  ./releases,
  ./temp,
  ./upstream,

# E111: Indentation is not a multiple of four
# E114: Indentation is not a multiple of four (comment)
extend-ignore = E111, E114

max-line-length = 326
